{{page-title "ember-source issue #19496"}}

{{!-- does not compile --}}
<div>
  <button>Hello World!</button>
</div>

{{!-- compiles successfully --}}
<div>
  <span>Hello World!</span>
</div>

<WelcomePage />

{{outlet}}
